body{
    margin:0px;
    background-color: #aaa;
    font-family: 'Source Sans Pro', sans-serif;
}
#dvpainel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 963px;
    height: 50px;
    background-color: rgba(135, 161, 127, 0.4);
    color: white;
}
#dvjogo{
    width: 960px;
    height: 500px;
    border: 1px solid rgb(46, 45, 45);
    background-color: rgb(46, 45, 45);
    box-shadow: 2px 2px 3px #000;
}
#dvbola{
    position: absolute;
    top: 240px;
    left: 475px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius:16px;
    box-shadow: 1px 1px 3px #000;
}
.barra{
    position: absolute;
    width: 20px;
    height: 140px;
    background-color:white;
    top: 180px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #000;
}
.esquerda{
    left: 10px;
}
.direita{
    left: 930px;
}
input{
    outline: none;
    border-radius: 8px;
    width: 40%;
    height: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(6, 73, 6);
    background-color: black;
    border: 0;
    outline: none;
}
#inicia{
    border-radius: 6px;
    background-color: chartreuse;
    color: rgb(92, 95, 91);
    border: 0;
    width: 20vh;
    height: 5vh;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 1px 3px #000;
}
#inicia:hover{
    background-color: rgb(130, 165, 111);
    transition: 400ms;
}
#perdeu,#ganhou{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}
#perdeu.sair,#ganhou.sair{
    display: none;
}
#perdeu div,#ganhou div{
    width: 30%;
    height: 30%;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
}
#perdeu div header,#ganhou div header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 64, 37, 0.5);
    border-radius: 8px 8px 0 0;
}
#ganhou div header{
    background-color: rgba(52, 219, 37, 0.5);
}
#perdeu div .corpo,#ganhou div .corpo{
    flex: 1;
    width: 100%;
    background-color: tomato;
    border-radius: 0 0 8px 8px;
}
#ganhou div .corpo{
    background-color: rgb(133, 180, 39);
}
#perdeu div .dvbotao,#ganhou div .dvbotao{
    border: none;
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#perdeu div .dvbotao button,#ganhou div .dvbotao button{
    background-color: rgb(76, 146, 106);
    border: 0;
    border-radius: 8px;
    color: white;
    width: 80%;
    height: 55%;
    outline: none;
    box-shadow: 1px 1px 3px #000;
}
#perdeu div .dvbotao button:hover,#ganhou div .dvbotao button:hover{
    background-color: rgb(58, 105, 78);
    transition: 400ms;
}
#jog{
    display: flex;
    width: 960px;
    align-items: center;
    justify-content: center;
}
#jogadores{
    margin-top: 15px;
    width: 60vh;
    display: flex;
    justify-content: space-between;
}
#jogadores button{
    background-color: rgb(133, 189, 21);
    border: 0;
    border-radius: 8px;
    width: 150px;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 3px #000;
}
#jogadores button:hover{
    background-color: rgb(98, 138, 20);
    transition: 400ms;
}